.player-placeholder {
    width: 800px;
    height: 600px;
    border: 2px solid #7DB8E4;
}

.button-container {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__item {
        border: 0;
        background: #7DB8E4;
        color: white;
        padding: 5px 10px;
        margin: 0 5px;
    }
}