<h2>Product #{{id}}</h2>
<div class="player-placeholder">
    <variantic-player
        [attr.component-id]="id"
        [attr.disable-layout]="layoutEnabled"
        [attr.ar-enabled]="arEnabled"
        [attr.snapshot-enabled]="snapshotEnabled"
        width="100%"
        height="100%"
        lang-code="en"
        background-transparent
    ></variantic-player>
</div>
<div class="button-container">
    <button class="button-container__item" type="button" (click)="layoutToggle()">Toggle layout</button>
    <button class="button-container__item" type="button" (click)="arToggle()">Toggle AR button</button>
    <button class="button-container__item" type="button" (click)="snapshotToggle()">Toggle snaphsot button</button>
</div>