<h1>Variantic Player DEMO</h1>
<h3>Simple DEMO for Variantic Player implementation in Angular.</h3>

<nav>
  <ul>
    <li *ngFor="let id of productIds"><a [routerLink]="['/product', id]" routerLinkActive="active">Product [{{id}}]</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
