:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

nav {
    width: 100%;
    background: #7DB8E4;

    ul {
        width: 100%;
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        justify-content: center;

        li {
            padding: 10px 20px;
            color: white;

            a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;

                &:hover, &.active {
                    font-weight: bold;
                }
            }

            &:not(:last-child) {
                border-right: 2px solid white;
            }
        }
    }
}